body{
    margin: 0;
}
/* body 명화하게 나타내기 위해서 before t설정 */
body *, body *::before, body *::after{
    box-sizing: border-box;
}

.header,.visual,.main,.slogan,.footer-content{
    width: 940px;
    margin: 0 auto;
}
.header{
    background-color: yellow;
    height: 10vh;
}
.visual{
    background-color: salmon;
    height: 10vh;
}
.main{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.group{
    height: 60vh;
}
.group1{
    background-color: violet;
    width: 250px;
}
.group2{
    background-color: aqua;
    width: 380px;
    order: -1;
}
.group3{
    background-color: sandybrown;
    width: 190px;
}
/* float의 영향을 벗어날거야  margin을 강제로 주면서 */


.slogan{
    background-color: lightgreen;
    height: 10vh;
    /* clear: both; */


    /* clear는 left right를 해제해라, float와 겹치지 않게 하기 위해서 사용한다 강제로 margin을 주었다*/
}

.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}