@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./fontello.css);
@import url(./normalize.css);

/* 숨김 콘텐츠 */
.a11y-hidden{
    background-color: yellow;
    /* display: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin:-1px;
    overflow:hidden;
    clip:rect(0 0 0 0);
    clip-path:polygon(0 0, 0 0, 0 0)
    /* polygon함수를 따라서 화면에 보였던 빨간색 점 사라짐 */
}

/* 스타일 초기화 */
.reset-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

html{
    font-size: 10px;
}
body{
    background-color: #ccc;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';

}
/* body 명화하게 나타내기 위해서 before t설정 */
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 링크스타일 */
a{
    text-decoration: none;
    color: inherit;
}

.header,.visual,.main,.slogan,.footer-content{
    width: 940px;
    margin: 0 auto;
}
/* header영역 logo를 이용해서 position을 이용해 바꾼다 */
.header{
    background-color: #fff;
    position: relative;
    padding: 0 30px 35px;
    border-radius: 0 0 15px 15px;

}
/* logo */
.logo{
    margin: 0;
    position: absolute;
    top: 41px;
    left: 65px;
    font-size : 100%;
    line-height: 1;

}
/* wev cafe 글씨에 생긱는 로고 갭 사라짐?? */
/* .logo a, .logo img{
    display: block;
} */

/* 안내링크 */
.member{
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    /* display:inline-block의 위치는 부모요소에서  align 지정 */
    font-size: 0;
    padding: 5px 0;
    position: relative;
    right: -10px;
}
.member li{
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    text-transform: uppercase;
    /* 루트를 변경하면 Rem으로 설정된것들 바뀌는 것을 볼 수 있다 */
}

.member a{
    display: inline-block;
    padding: 5px 10px;
}

.divider{
    margin: 0 3px;
}

/* 메인메뉴 */
.menu{
    background: #ce4827 linear-gradient(to bottom, #e8a02e 0%,#c97526 35%,#c97526 70%,#e8a02e 100%); 
    border-top: 2px solid #000;
    border-radius: 0 0 5px 5px;
    height: 47px;
    padding-left: 200px;
    /* box-shadow: 0 -2px 0 0 #000; */
}
.menu a {
    outline: 0;
}

.menu-item{
    position: relative;
    /* 자식요소인 서브요소의 기준으로만 삼을거기때문에 relative */
    float: left;
    border-left: 1px solid #fff;
    float: left;
}
.menu-item-button{
    line-height: 45px;
    display: block;
    padding: 2px 21px 0px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow:1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-act .menu-item-button{
    color: #ff0;
    /* border-bottom: 2px solid #000; */
}
.menu-act .menu-item-button::after{
    content: '';
    border-top: 2px solid black;
    display: block;
    margin-top: -2px;
    background-color: #000;
    height: 2px;
}
.sub-menu{
    position: absolute;
    display: none;
    top:47px;
    white-space:nowrap;
}
.menu-act .sub-menu{
    display: block;
}
.sub-menu1,.sub-menu2,.sub-menu3{
    left: 0;
}

.sub-menu4,.sub-menu5,.sub-menu6{
    /* display: block; */
    right: 0;
}
.sub-menu li{
    display: inline-block;

}
.sub-menu a{
    display: inline-block;
    padding:10px 0 8px;
    margin-right: 5px;
}

/* .sub-menu a::before{
    content: '\f192';
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}
.sub-menu a:hover::before,.sub-menu a:focus::before{
    content: '\e800';
} */


.sub-menu a:hover, .sub-menu a:focus{
    color:#f00;
}

/* 비주얼 애니메이션 */


@keyframes textAni{
    0%{
        font-size: 12px;
        color: rgba(0,0,0,0);
        transform: translate(0,0);
    }
    100%{
        font-size: 24px;
        color: rgba(0,0,0,1);
        transform: translate(400px,75px);

    }
}
@keyframes bgAni{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.visual{
    position: relative;
    height: 120px;
}

.visual::before, .visual::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation-name: bgAni;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.visual::before{
    background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
}
.visual::after{
    background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1000ms;
}

.visual-text{
    /* display: inline-block; */
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: textAni;
    animation-duration: 1000ms;  
    animation-fill-mode:forwards; 
    z-index: 1;
}


.main{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.group{
    height: 60vh;
}
.group1{
    background-color: violet;
    width: 250px;
}
.group2{
    background-color: aqua;
    width: 380px;
    order: -1;
}
.group3{
    background-color: sandybrown;
    width: 190px;
}
/* float의 영향을 벗어날거야  margin을 강제로 주면서 */


.slogan{
    background-color: lightgreen;
    height: 10vh;
    /* clear: both; */


    /* clear는 left right를 해제해라, float와 겹치지 않게 하기 위해서 사용한다 강제로 margin을 주었다*/
}

.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}